@media (min-width: 37.5em) {
    h1 {
        font-size: 1.6rem;
        margin-left: 0;
        text-align: center;
    }


    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;

    }

    .navigation a {
        display: block;
        flex: 1 1 10%;
    }

    .stuff {
        margin: 1rem auto;
    }

    .columnas {
        flex-direction: column;
    }

    .articulos,
    .menusecundario {
        margin-bottom: 20px;

    }


}

/* Responsive para mÃ³viles */
@media screen and (max-width: 768px) {
    .columnas {
        flex-direction: column;
    }

    .articulos,
    .menusecundario {
        margin-bottom: 20px;
        flex-direction: column;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        text-align: center !important;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        width: 100%;
        margin-bottom: 10px;
    }
}

/*random part */
#resultados {
    flex-direction: column;
    align-items: center;
}

.destacado {
    width: 90%;
    max-width: 400px;
}

.destacado img {
    width: 100%;
    height: auto;
}

.destacado h3 {
    font-size: 1.2rem;
}

.destacado p {
    font-size: 0.95rem;
}