/* Ajustes para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
    body {
      padding: 10px;
    }
  
    h1 {
      font-size: 1.8rem;
    }
  
    h2 {
      font-size: 1.4rem;
    }
  
    button {
      width: 100%;
      padding: 12px;
      font-size: 1.1rem;
    }
  }
  
  @media (min-width: 37.5em) {
    h1 {
        font-size: 1.6rem;
        margin-left: 0;
        text-align: center;
    }


    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;

    }

    .navigation a {
        display: block;
        flex: 1 1 10%;
    }

    .stuff {
        margin: 1rem auto;
    }

    .columnas {
        flex-direction: column;
    }

    .articulos,
    .menusecundario {
        margin-bottom: 20px;

    }


}



/* Responsive para moviles */
@media screen and (max-width: 768px) {
    .columnas {
        flex-direction: column;
    }

    .articulos,
    .menusecundario {
        margin-bottom: 20px;
        flex-direction: column;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        text-align: center !important;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        width: 100%;
        margin-bottom: 10px;
    }

    .form-container {
        display: block;
    }
}